<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>{{ title }}</title>
</head>
<header style="background-color:silver; height:100px">
    <h1>Миссия колонизация Марса</h1>


</header>
<body>
<h4>И на Марсе будут яблони цвеести</h4>
<main role="main" class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>