{% extends "base.html" %}

{% block content %}
<div class="buttons" style="margin-left: -36%;">
    <a href="/" class="btn btn-success" style="display: table-cell;">
        Работы
    </a>
</div>
<h2>Work logs</h2>
<div class="space">
    <a href="/adddepartment" class="btn btn-success" style="display: table-cell;">
        Добавить
    </a>
    {% for dep in deps %}
    <div class="actionLabel" >
    <h3>Action {{loop.index}}</h3>
    {% if current_user.is_authenticated and (current_user.id == 1 or current_user.id == dep.chief)%}
        <a href="/editdepartment/{{ dep.id}}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/deletedepartment/{{ dep.id }}" class="btn btn-danger" style="margin-left: 5px">
            Удалить
        </a>
        {% endif %}
    </div>
    <table border="1" width="1000" cellpadding="5" style="margin-bottom: 10px; margin-top: 5px;">
        <tr>
            <th>Title of department</th>
            <th>Chief</th>
            <th>Members</th>
            <th>Email</th>
        </tr>
        <tr>
            <td class="regular activity">{{dep.title}}</td>
            <td class="regular mate">{{dep.boss.name}} {{dep.boss.surname}}</td>
            <td class="regular dur">{{dep.members}} hours</td>
            <td class="regular helps">{{dep.email}}</td>
        </tr>
    </table>
    {% endfor %}
</div>


{% endblock %}