{% extends "base.html" %}

{% block content %}
<h2>Work logs</h2>
<div class="space">
    {% for job in jobs %}
    <h3>Action {{loop.index}}</h3>
    <table border="1" width="1000" cellpadding="5">
        <tr>
            <th>Title of activity</th>
            <th>Team leader</th>
            <th>Duration</th>
            <th>List of collaborators</th>
            <th>Is finished</th>
        </tr>
        <tr>
            <td class="regular activity">{{job[0]}}</td>
            <td class="regular mate">{{job[1]}}</td>
            <td class="regular dur">{{job[2]}}</td>
            <td class="regular helps">{{job[3]}}</td>
            <td class='{% if job[4]%}
            yes
            {% else%}
            no
            {%endif%}'>
            {%if job[4]%}
            Is finished
            {%else%}
            Not finished
            {%endif%}
            </td>
        </tr>
    
    </table>
    {% endfor %}
</div>


{% endblock %}