{% extends "base.html" %}

{% block content %}
<div class="buttons" style="margin-left: -36%;">
    <a href="/departments" class="btn btn-success" style="display: table-cell;">
        Департаменты
    </a>
</div>
<h2>Work logs</h2>
<div class="space">
    <a href="/addjob" class="btn btn-success" style="display: table-cell;">
        Добавить
    </a>
    {% for job in jobs %}
    <div class="actionLabel" >
    <h3>Action {{loop.index}}</h3>
    {% if current_user.is_authenticated and (current_user.id == 1 or current_user.id == job.team_leader)%}
        <a href="/editjob/{{ job.id}}" class="btn btn-warning">
            Изменить
        </a>
        <a href="/deletejob/{{ job.id }}" class="btn btn-danger" style="margin-left: 5px">
            Удалить
        </a>
        {% endif %}
    </div>
    <table border="1" width="1000" cellpadding="5" style="margin-bottom: 10px; margin-top: 5px;">
        <tr>
            <th>Title of activity</th>
            <th>Team leader</th>
            <th>Duration</th>
            <th>List of collaborators</th>
            <th>Danger</th>
            <th>Is finished</th>
        </tr>
        <tr>
            <td class="regular activity">{{job.job}}</td>
            <td class="regular mate">{{job.leader.name}} {{job.leader.surname}}</td>
            <td class="regular dur">{{job.work_size}} hours</td>
            <td class="regular helps">{{job.collaborators}}</td>
            <td class="regular dur"> 
                {% set a = job.categories%}
                {%if a%}
                {{a[0].id}}
                {%else%}
                None
                {%endif%}
            </td>
            <td class='{% if job.is_finished%}
            yes
            {% else%}
            no
            {%endif%}'>
            {%if job.is_finished%}
            Is finished
            {%else%}
            Not finished
            {%endif%}
            </td>
        </tr>
    </table>
    {% endfor %}
</div>


{% endblock %}